<h1>My favorites</h1>
<ul>
	<% @the_contact.each do |contact| %>
			
	<% end %>
</ul>


<div> 
	<%= link_to "Add a new contact", "/contacts/new" %>
</div>
<div>
<%= link_to "See list of contacts", "/contacts" %>
</div>
