<h1>Address book</h1>
<ul>
	<% @contacts_alpha.each do |contact| %>
			<li><a href="/contacts/<%=contact.id%>"><%= contact.name %> </a></li>
	<% end %>
</ul>

<%= link_to "Add a new contact", "/contacts/new" %>